.money-detail-con {
  width: 100%;
  border-bottom: none;
}
.money-detail-con ul {
  width: 100%;
  display: flex;
}
.money-detail-con ul li {
  width: 180px;
  background-color: #f5f7f9;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-sizing: border-box;
  margin-right: 30px;
}
.money-detail-con ul li .round {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-sizing: border-box;
}
.money-detail-con ul li .round-blue {
  background-color: #5080fb;
  border: 5px solid #E5EDFE;
}
.money-detail-con ul li .round-orange {
  background-color: #fdaa3d;
  border: 5px solid #FFF3E1;
}
.money-detail-con ul li .round-green {
  background-color: #71d03e;
  border: 5px solid #EBF9E2;
}
.money-detail-con ul li .money-con {
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.money-detail-con ul li .money-con .money-num {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}
.money-detail-con ul li .money-con .money-txt {
  font-size: 12px;
  color: #666;
}
